.header {

  .header__conteiner {
    display: flex;
    justify-content: space-between;
    @media screen and (min-width: 767px) {
      
     
      align-items: center;
      justify-content: space-between;
  
    }

  }
 
    border-bottom: 1px solid #ececec;
    background-color: var(--body-color--);
    &__nav {

    display: flex; 
    }
    &__logo {
      @media screen and (max-width: 768px) {
        font-size: 22px;
        line-height: calc(24/22);
      }
      @media screen and (min-width: 768px) {
        font-size: 22px;
        line-height: calc(24/22);
      }
      
        font-family: 'Raleway';
        font-weight: 700;
        font-size: 26px;
        line-height: calc(31/26);
        letter-spacing: 0.03em; 
        text-decoration: none;
        color: var(--accent-color);
        padding-top: 24px;
        padding-bottom: 25px;   
    }
    &__list {
  @media screen and (max-width: 768px) {
    display: none;
    
  }

@media screen and (min-width: 768px) {
  display: flex;
  margin-left: 88px;
  align-items: center;
    
  }
  @media screen and (min-width: 1200px) {
margin-left: 93px;
  }
        
    }
    &__link {
      @media screen and (max-width: 768px) {
        font-size: 12px;
        line-height: calc(14/12);
      }
      @media screen and (min-width: 768px) {
        font-size: 12px;
        line-height: calc(14/12);
      }
  
        font-weight: 500;
    font-size: 14px;
    line-height: calc(16/14);
    letter-spacing: 0.02em;
    color: var(--main-color);
    display: block;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
  
    padding-top: 32px;
    padding-bottom: 32px;
    &:hover,
    &:focus {
    color: var(--accent-color);
    
    
      } 
    
  }
  .header .container {
    display: flex;
    align-items: center;
  }
//   .header-nav {
//     display: flex;
//   }
//   .header__nav .logo {
//     font-family: 'Raleway';
//     font-weight: 700;
//     font-size: 26px;
//     line-height: calc(31/26);
//     letter-spacing: 0.03em; 
//     text-decoration: none;
//     color: var(--accent-color);
//     padding-top: 24px;
//     padding-bottom: 25px;
//   }
  .header__logo-part {
    color:
    #000000;
  }
  .header__link--current:visited {
    color: var(--accent-color);
  }
  
//   .header-list {
    
//       display: flex;
//       margin-left: 92px;
//       align-items: center;
//     }
  
  
 .header__item:not(:last-child) {
    margin-right: 50px;
  }
//   .header-list .header-list-link {
//     font-weight: 500;
//     font-size: 14px;
//     line-height: calc(16/14);
//     letter-spacing: 0.02em;
//     color: var(--main-color);
//     display: block;
//     transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
  
//     padding-top: 32px;
//     padding-bottom: 32px;
    
    
//     }
.header__link--current::after {
      content: ' ';
      width: 100%;
      height: 4px;
      background-color: #2196f3;
      border-radius: 2px;
      position: absolute;
      bottom: 0;
      left: 0;
    }
    .header__link--current {
    position: relative;
  }
  
  .header__link--current:visited {
    color: var(--accent-color); 
  }
  
// //   .header-list-link:hover,
// //   .header-list-link:focus {
// //     color: var(--accent-color);
  
  
//   }
  .contacts {

    @media screen and (max-width: 767.98px) {
      display: none;
      
    }
    @media screen and (min-width: 768px) {
      margin-left: 114px;
      &__link-mail {
        font-weight: 500;
        font-size: 14px;
        line-height: calc(16/14);
        letter-spacing: 0.02em;
        color: var(--second-color);
        text-decoration: none;
        display: block;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
       
       margin-bottom: 10px;
      
         
        display: flex;
        align-items: center;
        &:hover,
        &:focus {
            color: var(--accent-color);  
        }

    }
    &__link-tel {
        font-weight: 500;
        font-size: 14px;
        line-height: calc(16/14);
        letter-spacing: 0.02em;
        color: var(--second-color);
        text-decoration: none;
        display: block;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
      
        
        display: flex;
        align-items: center; 
        &:hover,
        &:focus {
            color: var(--accent-color);  

        }
    }
    }
   
    @media screen and (min-width: 1200px) {
      &__link-mail {
        margin-bottom: 0;
      }
    }
      display: flex;
      margin-left: auto;
      flex-wrap: wrap;
      column-gap: 50px;
      padding-top: 32px;
      padding-bottom: 32px;
    
    }
   
  }
//   .header-mail-link {
//     font-weight: 500;
//     font-size: 14px;
//     line-height: calc(16/14);
//     letter-spacing: 0.02em;
//     color: var(--second-color);
//     text-decoration: none;
//     display: block;
//     transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
//     padding-top: 32px;
//     padding-bottom: 32px;
   
//   }
//   .header-mail-link {
//     display: flex;
//     align-items: center;
//   }
//   .header-mail-link .header-link:hover
//   .header-mail-link .header-link:focus {
//     color: var(--accent-color);  
//   }
  
  
//   .header-tel-link {
//     display: flex;
//     align-items: center;
//   }
//   .header-tel-link {
//     font-weight: 500;
//     font-size: 14px;
//     line-height: calc(16/14);
//     letter-spacing: 0.02em;
//     color: var(--second-color);
//     text-decoration: none;
//     display: block;
//     transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
//     padding-top: 32px;
//     padding-bottom: 32px;
    
//   }
//   .header-link:hover,
//   .header-link:focus {
//     color: var(--accent-color);  
//   }
  .contacts__icon-mail {
    margin-right: 10px;
    fill: currentColor;
  }
  
  
  .contacts__icon-tel{
    margin-right: 10px;
    fill: currentColor;
    vertical-align: top;
  }
  .menu-btn {
    @media screen and (min-width: 768px) {
      display: none;
      
    }
  }



  .mob-menu {
    display: flex;
    flex-direction: column;
    position: fixed;
    justify-content: space-between;
    top: 0;
    left: 0;
    background-color: #ffffff;
    max-width: 480px;
    width: 100%;
    height: 796px;
    z-index: 1;
    padding-top: 48px;
    overflow: scroll;
   
   
      padding-left: 40px;
      padding-bottom: 48px;
    
      height: 100%;
      
     
      overflow: auto;
    
  }
  
  .open-menu-btn {
    @media screen and (min-width: 768px) {
      display: none;
    }
    
 
    
    margin-left: auto;
    background-color: transparent;
    display: block;
    border: none;
    transition: color 250ms linear;
  
    cursor: pointer;
    &:hover,
    &:focus {
      color: var(--accent-color);
    }
   
  }
  
  .mob-menu-list {
    margin-bottom: 120px;
  }
  
  .menu-close-btn {
    
    margin-left: auto;
    border: none;
    background-color: transparent;
    display: block;
    transition: color 250ms linear;
    cursor: pointer;
    &:hover,
    &:focus {
      color: var(--main-color);
    }
  }
  
  .mob-menu-item {
    color: var(--main-color);
    margin-bottom: 32px;
  }
  
  .mob-menu-link {
    font-weight: 500;
    font-size: 40px;
    line-height: calc(47/40);
    letter-spacing: 0.02em;
    color: var(--main-color);
    transition: color 250ms linear;
    cursor: pointer;
    &:hover,
    &:focus {
      color: var(--accent-color);
    }
  }

  .mob-menu-liniya {
    cursor: pointer;
    fill: currentColor;
  }
  .modal-menu-close {

    
  
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    top: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
    border:  none;
    border-radius: 50%;
    background-color: #FFFFFF;
    &:hover,
    &:focus {
      fill: var(--accent-color);
    }
   
  }
  .mob-menu__button {
    margin-top: 306px;
  }

  .mob-current {
    color: var(--accent-color);
    position: relative;
    &::after {
      background: var(--accent-color);
    }
  }
  
  .mob-menu-contact {
    margin-bottom: 64px;
    list-style: none;
    width: 100%;
  }
  
  .mob-menu-mail {
    font-weight: 500;
    font-size: 24px;
    line-height: 1.16;
    letter-spacing: 0.02em;
    color: #757575;
    margin-top: auto;
  }
  
  .mob-menu-tel {
    font-weight: 500;
    font-size: 34px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    color: var(--accent-color);
    margin-top: auto;
  }
  
  .mob-soc {
    display: flex;
    position: relative;
    margin-bottom: 48px;
    gap: 10px;
    width: 100%;
    margin-top: auto;
   
 
 
  }
  
  .mob-soc__item:not(:last-child) {
    border-right: 1px solid rgba(33, 33, 33, 0.2);
    padding-right: 10px;
  }
  
  .mob-soc__link {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: 0.02em;
    color: var(--accent-color);
  }