.work {
@media screen and (max-width: 1200px) {
    display: none;
    
}
    background-color: var(--body-color--);
    padding-bottom: 94px;
    &__title {
        font-size: 36px;
    line-height: calc(42/36);
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-color);
    margin-bottom: 50px;
    }
    &__list {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
  
    }
    &__item {
        position: relative;
        overflow: hidden;
    }
    &__description {
        font-weight: 700;
        font-size: 14px;
        line-height: calc(16/14);
        text-align: center;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #FFFFFF;
        background-color: rgba(47, 48, 58, 0.8);
        position: absolute;
        bottom: 0;
        height: 100;
        left: 0;
        right: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 27px;
        transform: translateY(0);
        transition: transform 500ms linear;
    }
  }
  .work .section {
      padding-top: 0;
      
  
    }
  
//   .work-title {
//     font-weight: 700;
//     font-size: 36px;
//     line-height: calc(42/36);
//     text-align: center;
//     letter-spacing: 0.03em;
//     color: var(--main-color);
//     margin-bottom: 50px;
//     }
  
    // .title {
    //   font-size: 36px;
    //   line-height: 1.16;
    //   text-align: center;
    // }
    // .work-list {
    //     display: flex;
    //     flex-wrap: wrap;
    //     gap: 30px;
  
    //   }
    //   .work-item {
        
    //     position: relative;
    //     overflow: hidden;
    //   }
     
      
    //   .work-description {
    //     font-weight: 700;
    //     font-size: 14px;
    //     line-height: calc(16/14);
    //     text-align: center;
    //     letter-spacing: 0.03em;
    //     text-transform: uppercase;
    //     color: #FFFFFF;
    //     background-color: rgba(47, 48, 58, 0.8);
    //     position: absolute;
    //     bottom: 0;
    //     height: 100;
    //     left: 0;
    //     right: 0;
    //     display: flex;
    //     justify-content: center;
    //     align-items: center;
    //     padding: 27px;
    //     transform: translateY(0);
    //     transition: transform 500ms linear;
    //   }
      