.modal-backdrop {
    position: fixed;
    left: 0;
  
    width: 100%;
    height: 100%;
  
    background-color: rgba(0, 0, 0, 0.8);
    transition: opacity 500ms, visibility 500ms;
   
  }
  
  .modal-backdrop.is-hidden .modal {
    transform: rotate(-180deg);
  }
  
  .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 450px;
    width: calc(100% - 30px);
  overflow: scroll;
  
     
    
      transform: translate(-50%, -50%) rotate(0);
      transition: transform 1000ms linear;
      background: #FFFFFF;
      box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
      border-radius: 4px;
    
  
    
   
      @media screen and (min-width: 1200px) {
        width: 528px;
    }
    
  }
  
  
.close__sign {
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    top: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
    border:  1px solid 
    rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    background-color: #FFFFFF;
  }
  
  .modal__icon:focus,
  .modal__icon:hover {
    fill: var(--accent-color);
  }
  
  .modal-form {
    -min-width: 370px;
 

  }
  .is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
  }
  .modal__title {
    margin-left: 40px;
    width: 370px;
    
    font-weight: 700;
    font-size: 20px;
    line-height: calc(23/20);
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    padding-top: 40px;
    margin-bottom: 12px;
    @media screen and (min-width: 1200px){
      width: 448px;
    }
  }
  
  .label-text {
  
  font-weight: 400;
  font-size: 12px;
  line-height: calc(14/12);
  
  
  letter-spacing: 0.01em;
  
  color: #757575;
  }
  .modal-input {
  
    width: 100%;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding-left: 42px;
    
    cursor: pointer;
    outline: transparent;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .input-wrap {
    position: relative;
   
  }
  
  .modal-field {
    padding-left: 40px;
    padding-right: 40px;
    margin-bottom: 10px;
  }
  
  .modal-icons {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 12px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .modal-input:focus,
  .modal-input:hover {
    border: 1px solid var(--accent-color);
  }
  
  .modal-input:focus + .modal-icons,
  .modal-input:hover + .modal-icons {
    fill: var(--accent-color);
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .modal-feedback {
    width: 100%;
    height: 120px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    resize: none;
    padding: 12px 16px;
    outline: transparent;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;
  }
  
  .modal-feedback:focus,
  .modal-feedback:hover {
    border-color: var(--accent-color);
  }
  
  .modal-feedback::placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: calc(14/12);
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
  }
  
  .textarea-form {
    display: block;
    margin-bottom: 20px;
    padding-left: 40px;
    padding-right: 40px;
    color: rgba(33, 33, 33, 0.2);
  }
  
  .label-text {
    font-weight: 400;
    font-size: 12px;
    line-height: calc(14/12);
    letter-spacing: 0.01em;
    color: #757575;
    margin-bottom: 4px;
    display: block;
  }
  
  .checkbox-text {
    @media screen and (min-width: 768px) {

    }

    font-weight: 400;
    font-size: 12px;
    line-height: calc(14/12);
    letter-spacing: 0.03em;
    color: #757575;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    @media screen and (min-width: 1200px) {
      font-size: 14px;
      line-height: calc(24/14);
    }
  }
  
  .checkbox-text span {
    width: 16px;
    height: 15px;
    border: 2px solid 
    black;
    border-radius: 2px;
    /* margin-right: 8px; */
    display: flex;
    align-items: center;
    justify-content: center;
    fill: #212121;
    
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .check-icon {
    cursor: pointer;
    
    
  }
  
  
  .input-check:checked + .checkbox-text span {
    background-color: var(--accent-color);
    border-color: transparent;
    fill: #212121;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .input-check:focus + .checkbox-text .span-m {
    border-color: var(--accent-color);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  
  
  .modal-link {
    color: var(--accent-color);
    
  }
  
  .btn-send {
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: calc(30/16);
    letter-spacing: 0.06em;
    color: var(--button-first-color);
    background: var(--button-second-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    display: block;
    text-align: center;
    border: 0;
    min-width: 200px;
    padding: 10px 52px;
    margin: 0 auto;
    margin-top: 30px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .btn-send:hover,
  .btn-send:focus {
    background-color: #188ce8;
  }
 